.title{
    width: 300px;
    margin-top: 50px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: cadetblue;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}
#view{
    width: 160px;
    height: 160px;
    margin: 80px auto 0 auto;
}
#box{
    -webkit-animation-name: animation;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 80px 80px 0;
}
#box div{
    position: absolute;
    height: 160px;
    width: 160px;
    border: 3px solid #000;
}
#box .one{
    -webkit-transform: translateZ(80px);
}
#box .two{
    -webkit-transform: rotateX(-90deg)
        translateZ(80px);
}
#box .three{
    -webkit-transform:
        rotateY(90deg)
        rotateX(90deg)
        translateZ(80px);
}
#box .four{
    -webkit-transform:
    rotateY(180deg)
    rotateZ(90deg)
    translateZ(80px);
}
#box .five{
    -webkit-transform:
    rotateY(-90deg)
    rotateZ(90deg)
    translateZ(80px);
}
#box .six{
    -webkit-transform:
    rotateY(90deg)
    translateZ(80px);
}

@-webkit-keyframes animation
{
    from,to{}
    16%{-webkit-transform: rotateY(-90deg);}
    33%{-webkit-transform: rotateY(-90deg) rotateZ(135deg);}
    50%{-webkit-transform: rotateY(225deg) rotateZ(135deg);}
    66%{-webkit-transform: rotateY(135deg) rotateZ(135deg);}
    83%{-webkit-transform: rotateX(135deg);}
}